.cart-notification-wrapper {
  float:left;
  width: 100%;
  position: relative;
}
.cart-notification-wrapper .cart-notification {
  display: block;
}
.cart-notification {
  background-color: var(--white);
  border: 1px solid var(--theme-color);
  padding: 15px;
  position: absolute;
  right: 0px;
  top: 0;
  color: var(--black);
  transform: translateY(-100%);
  visibility: hidden;
  float: left;
  width: 100%;
  z-index: 1;
  max-width: 380px;
  display: none;
}
.cart-notification.animate {
  transition: transform .2s ease, visibility 0s .2s ease;
}
.cart-notification.active {
  transform: translateY(0);
  transition: transform .3s ease, visibility 0s;
  visibility: visible;
  z-index: 2;
}
.cart-notification__header {
  align-items: flex-start;
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding:0 0 15px;
  margin:0 0 15px;
}
.cart-notification__heading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  line-height: 1;
}
.cart-notification__heading svg {
  margin: 0 10px 0 0;
  color: var(--black);
}
.cart-notification-product {
  float: left;
  width: 100%;
  align-items: center;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin:0 0 15px;
  padding: 0 0 15px;
}
.cart-notification-product__name {
  margin:0 0 10px;
  font-size: 14px;
  line-height: 20px;
}
.cart-notification-cnt {
    padding: 0 0 0 15px;
}
.cart-notification-cnt .product-option {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}
.cart-notification-cnt .product-option dt {
    margin: 0 10px 0 0;
}
.cart-notification__links {
    float: left;
    width: 100%;
    text-align: center;
}
.cart-notification__links .btn,.cart-notification__links .btn-secondary{
    width: 100%;
    margin: 0 0 15px;
}
.cart-notification__links .link{
    float: none;
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0;
    font-size: 14px;
    border: none;
    line-height: 20px;
    border-bottom: 1px solid var(--black);
    background: none;
}
.cart-notification__close {
    background: none;
    border: none;
}
.cart-notification__close svg{
  color: var(--black)
}
@media (max-width: 767px){
  .cart-notification{
  	max-width: 300px;
    padding: 10px;
  }
  .cart-notification__header,.cart-notification-product{
    padding: 0px 0 10px;
    margin: 0 0 10px;
  }
  .cart-notification__header svg {
    width: 20px;
    height: 20px;
  }
  .cart-notification-cnt {
    padding: 0 0 0 10px;
  }
  .cart-notification-product__name {
    margin: 0 0 5px;
    font-size: 13px;
    line-height: 18px;
  }
  .cart-notification-cnt .product-option {
    font-size: 12px;
    justify-content: left;
  }
  
}